@{
    ViewData["Title"] = "Before Neumont";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
	<p>Before I went to Neumont, I spent a lot of my time at my highschool.</p>
    <img src="~/images/school.jpg" />
    <p>Between school, band, drama, and robotics I probably spent a good 10 - 12 hours at the school most days</p>
	<img src="~/images/band.png" /><img src="~/images/drama.png" /><img src="~/images/robotics.png" width="292" height="292" />
</div>
