@{
    ViewData["Title"] = "My Future";
}
<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <p>I think that after Neumont I may have a future as a Culinary Chef. My most recent creation was this:</p>
    <img src="~/images/pxl_20230101_060502452.jpg" width="171" height="226"/>
    <p>
        I'm just joking. What I actually want to do after Neumont would be a game studio.
        I'm not to particular on which one, but I want to make stuff that will impact people.
        If I had to choose a specific studio, i'd love to work at either Santa Monica Studios or Obsidian.
    </p>
	<img src="~/images/gamestudios.jpg" />
</div>