@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">About Me</h1>
    <p>My name is Liam Doyle. I am currently a sophmore at Neumont College of Cumpter Science, and I currently work as a shift lead at Walgreens.</p>
    <img src="~/images/pxl_20221201_031224982.jpg" width="480" height="360"/>
	<p>I'm a current Software and Game Dev student.</p>
    <img src="~/images/raymondtracing.png" width="420" height="300"/>
</div>
