@{
    ViewData["Title"] = "Library";
}

@model IEnumerable<Games>

<h4>@TempData["success"]</h4>

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<form class="d-flex" asp-controller="Home" asp-action="Search" method="post">
    <input name="key" class="form-control me-sm-2" type="search" placeholder="Search">
    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
</form>

@if (Model == null)
{
	<div class="text-center">
		<h2>No Games</h2>
	</div>
}
else
{
	foreach (Games game in Model)
	{
		<div class="text-center">
			<partial name="_GameLibrary.cshtml" for="@game" />
		</div>
	}
}
