@{
    ViewData["Title"] = "About Page";
}

<div class="text-center">
    <h1 class="display-4">About</h1>
    <p>This is the About Page.</p>
	<img src="~/images/pxl_20230101_060502452.jpg" width="513" height="680"/>
</div>